/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/

// Colors
$red-color: #a00000 !default;
$red-color-dark: #8b0000 !default;
$orange-color: #d65d0e !default;
$blue-color: #3171b5 !default;
$blue-color-dark: #264d82 !default;
$cyan-color: #2698ba !default;
$light-cyan-color: lighten($cyan-color, 25%);
$green-color: #2e8b57 !default;
$green-color-lime: #b7d12a !default;
$green-color-dark: #009f06 !default;
$green-color-light: #ddffdd !default;
$green-color-bright: #11d68b !default;
$purple-color: #7b2d8b !default;
$light-purple-color: lighten($purple-color, 25%);
$pink-color: #f92080 !default;
$pink-color-light: #ffdddd !default;
$yellow-color: #d4a017 !default;

$grey-color: #888888 !default;
$grey-color-light: #e8e8e8;
$grey-color-dark: #1a1a1a;
$grey-900: #1a1a1a;

$white-color: #ffffff !default;
$black-color: #111111 !default;

// Theme colors

$code-bg-color-light: #f5f5f5 !default;
$code-bg-color-dark: #2a2a2a !default;

// Font awesome location
$fa-font-path: "../webfonts";

// Tabler icons location
$ti-font-path: "../fonts";

// Back To Top button config
$back-to-top-z-index: 10;
$back-to-top-bottom: 30px;
$back-to-top-right: 30px;
$back-to-top-diameter: 40px;
$back-to-top-height: $back-to-top-diameter;
$back-to-top-width: $back-to-top-diameter;
