/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/

// Colors
$red-color: #cc241d !default;
$red-color-dark: #cc241d !default;
$orange-color: #d65d0e !default;
$blue-color: #458588 !default;
$blue-color-dark: #458588 !default;
$cyan-color: #2698ba !default;
$light-cyan-color: lighten($cyan-color, 25%);
$green-color: #98971a !default;
$green-color-lime: #b7d12a !default;
$green-color-dark: #009f06 !default;
$green-color-light: #ddffdd !default;
$green-color-bright: #11d68b !default;
$purple-color: #b16286 !default;
$light-purple-color: lighten($purple-color, 25%);
$pink-color: #f92080 !default;
$pink-color-light: #ffdddd !default;
$yellow-color: #d79921 !default;

$grey-color: #3c3836 !default;
$grey-color-light: #fbf1c7;
$grey-color-dark: #32302f;
$grey-900: #32302f;

//$white-color: #fbf1c7 !default;
$white-color: #ffffff !default;
$black-color: #282828 !default;

// Theme colors

$code-bg-color-light: #eeeeee !default;
$code-bg-color-dark: #3c3836 !default;

// Font awesome location
$fa-font-path: "../webfonts";

// Tabler icons location
$ti-font-path: "../fonts";

// Back To Top button config
$back-to-top-z-index: 10;
$back-to-top-bottom: 30px;
$back-to-top-right: 30px;
$back-to-top-diameter: 40px;
$back-to-top-height: $back-to-top-diameter;
$back-to-top-width: $back-to-top-diameter;
